
__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
output/
outputs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

Pipfile.lock
poetry.lock

.conda/
condaenv.*

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.tox/
noxfile.json
.mypy_cache/
.dmypy.json
dmypy.json

.ipynb_checkpoints
profile_default/
ipython_config.py

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.log
*.pot
*.mo
*.pot~
*.orig
*.rej
*.so
*.dll
*.dylib

*.csv
*.tsv
*.h5
*.parquet
*.feather
*.joblib
*.npy
*.npz
*.pkl
*.ckpt

.DS_Store
Thumbs.db
